body
  font-family: Calibri, sans-serif
  color: #3F444E
  font-weight: bold

.container-fluid
  width: auto
  margin-right: 5%
  margin-left: 5%

ul
  list-style: none
  padding: 0 !important
  margin: 0 !important
